<!-- Container for the image gallery -->
<div class="container">

  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext hidden">1 / 6</div>
    <%= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798662/Decent%20Interior/hitchki_powai.jpg", width: "100%") %>
    <!-- <img src="img_woods_wide.jpg" style="width:100%"> -->
  </div>

  <div class="mySlides">
    <div class="numbertext hidden">2 / 6</div>
    <%= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798659/Decent%20Interior/wework_andheri.jpg", width: "100%") %>
  </div>

  <div class="mySlides">
    <div class="numbertext hidden">3 / 6</div>
    <%= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798660/Decent%20Interior/shyam_ahuja.jpg", width: "100%", :angle=>"ignore") %>
  </div>

  <div class="mySlides">
    <div class="numbertext hidden">4 / 6</div>
    <%= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798658/Decent%20Interior/vandana_global.jpg", width: "100%") %>
  </div>

  <div class="mySlides">
    <div class="numbertext hidden">5 / 6</div>
    <%= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798661/Decent%20Interior/cake_basket.jpg", width: "100%") %>
  </div>

  <div class="mySlides">
    <div class="numbertext hidden">6 / 6</div>
    <%= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798660/Decent%20Interior/private_bungalow_palghar.jpg", width: "100%") %>
  </div>

  <!-- Next and previous buttons -->
  <!-- <a id="prev" onclick="plusSlides(-1)">❮</a> -->
  <!-- <a id="next" onclick="plusSlides(1)">❯</a> -->
  <a id="prev">&#10094;</a>
  <a id="next">&#10095;</a>

  <!-- Image text -->
  <div class="container">
    <div class="caption-container">
      <p id="caption" style="font-family: 'Libre Caslon Text', serif; font-size: 0.14em;"></p>
    </div>
  </div>

  <!-- Thumbnail images -->
  <div class="hidden">
    <div class="row">
      <div class="column">
        <img class="demo cursor" src="https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798662/Decent%20Interior/hitchki_powai.jpg" style="width:100%" alt="Hitchki (BKC & Viviana Mall, Thane West)" />
      </div>
      <div class="column">
        <img class="demo cursor" src="https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798659/Decent%20Interior/wework_andheri.jpg" style="width:100%" alt="WeWork Office (Andheri East)">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798660/Decent%20Interior/shyam_ahuja.jpg" style="width:100%" alt="Shyam Ahuja Showroom">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798658/Decent%20Interior/vandana_global.jpg" style="width:100%" alt="M/s Vandana Global - Interior work">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798661/Decent%20Interior/cake_basket.jpg" style="width:100%" alt="Cake Basket (Various Locations)">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798660/Decent%20Interior/private_bungalow_palghar.jpg" style="width:100%" alt="Private Bungalow at Palghar">
      </div>
    </div>
  </div>
</div>
