
<div class="picture-home">
  <%#= image_tag("DI.png", srcset: [["Banner_Home.jpg", "786w"], ["Banner.jpg", "1980w"]], style: "width: 100%") %>
  <%= image_tag("Banner_Home.jpg", style: "width: 100%") %>
</div>
<!-- Body -->

<div class="home-margin">
  <div class="about-text">
    <div class="sans-serif">
      <h6>At Decent, we are a well-knit team of constructors and designers with an experience of more than 20 years in the field of Interior designing and fabrication work.</h6>
    </div>
  </div>
  <%= link_to "TALK TO A DESIGNER", "https://api.whatsapp.com/send?phone=919920204292&text=Hey!%20I%20would%20like%20to%20see%20you.&source=&data=", class: "blue-button" %>
  <br>
  <br>

  <div class="black-line">
    <hr>
  </div>
  <div class="about-blue">
    <h7>We make sure that a mere location composed of bricks and cement is turned into
      the dream space you envisioned. Inducing creativity in our work, we deliver work
      that gets you appraise from your friends and family.<br>We have execeuted projects
      in all sectors and are experts in:
      <br>• Commercial Showrooms <br>• Corporate Offices and Work Space <br>• Gyms<br>
      • Lounges, Cafés, Restaurants <br>• Residential Spaces - Apartments as well as Bungalows</h7>
    </div>
    <br>
  </div>
</div>
<%= render 'shared/ourservices' %>
<%= render 'shared/sectors' %>

<div class="recent-contact">
  <div id="recent-projects">
    <div class="blus-slash">
      <%= image_tag("blue-highlighter.png", size: "55x20") %> <i> RECENT MAJOR PROJECTS</i>
    </div>
  </div>
  <%= render 'shared/image' %>
  <%= render 'shared/getintouch' %>
  <!-- About -->
  <%#= render 'shared/about' %>
</div>
